<header>
    <ul class="nav nav-pills justify-content-center fixed-top pb-5">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">Card Database</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/cards">Card Database</a></li>
                <li><a class="dropdown-item disabled" href="">Packs</a></li>
                <li><a class="dropdown-item" href="/new_card">Custom Card Maker</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Decks</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/decks">Decks</a></li>
                <li><a class="dropdown-item disabled" href="#">Deck Builder</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://github.com/cstew527/hyper-colosseum-deck-builder">Github Repository</a>
        </li>
    </ul>
</header>
