<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>HTML 5 Boilerplate</title>
        <link rel="stylesheet" href="style.css">
        <%- include ('./partials/bootstrap.ejs') %>
    </head>
    <body>
        <%- include ('./partials/navbar.ejs') %>
        <div class="album py-5 bg-light">
            <div class="container">
                <h1 class="mt-5">Card Database</h1>
                <p>Search the database by Name or Description.</p>
                <input type="search" id="filter-dq" class="form-control mb-3" placeholder="Search Card Database...">
                <div class="row mb-3">
                    <div class="col">
                        <select class="form-select" aria-label="Select Frame Color" id="frameColor" name="frameColor">
                            <option selected>Select Frame Color</option>
                            <option value="1">Blue</option>
                            <option value="2">Red</option>
                            <option value="3">Gold</option>
                        </select>
                    </div>
                    <div class="col">
                        <select class="form-select" aria-label="Select Card Type">
                            <option selected>Select Type</option>
                            <option value="1">Digimon</option>
                            <option value="2">Option</option>
                        </select>
                    </div>
                    <div class="col">
                        <select class="form-select" aria-label="Select Level" id="level">
                            <option selected>Select Level</option>
                            <option value="1">Level III</option>
                            <option value="2">Level IV</option>
                            <option value="3">Perfect</option>
                            <option value="4">Ultimate</option>
                        </select>
                    </div>
                    <div class="col">
                        <select class="form-select" aria-label="Select Digimon Type">
                            <option selected>Select Type</option>
                            <option value="1">Amphibian</option>
                            <option value="2">Ancient Beast</option>
                            <option value="3">Ancient Fish</option>
                            <option value="4">Angel</option>
                            <option value="5">Aquatic Beast Man</option>
                            <option value="6">Aquatic Mammal</option>
                            <option value="7">Beast</option>
                            <option value="8">Beast Man</option>
                            <option value="9">Ceratopsian</option>
                            <option value="10">Chick</option>
                            <option value="11">Composite</option>
                            <option value="12">Demon Man</option>
                            <option value="13">Dinosaur</option>
                            <option value="14">Fairy</option>
                            <option value="15">Flame</option>
                            <option value="16">Ghost</option>
                            <option value="17">Giant Bird</option>
                            <option value="18">Insect</option>
                            <option value="19">Larva</option>
                            <option value="20">Mammal</option>
                            <option value="21">Marine Animal</option>
                            <option value="22">Mollusk</option>
                            <option value="23">Mutant</option>
                            <option value="24">Ore</option>
                            <option value="25">Plant</option>
                            <option value="26">Reptile</option>
                            <option value="27">Rock</option>
                            <option value="28">Skeleton</option>
                            <option value="29">Small Devil</option>
                        </select>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-auto g-3">
                    <% for (let card of cards) { %>
                        <div class="col">
                            <div class="card shadow-sm" style="width:200px">
                                <a href="/cards/<%= card._id %>">
                                    <img src="<%= card.cardArt %>" class="img-fluid img-thumbnail">
                                </a>
                            </div>
                        </div>
                    <% } %>    
                </div>
            </div>
        </div>
        <script>
            const filterCard = () => {
                const frameValue = document.getElementById("frameColor")
                console.log(frameValue.value)
            }
        </script>
    </body>
</html>