<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>HTML 5 Boilerplate</title>
        <%- include ('./partials/bootstrap.ejs') %>
    </head>
    <body>
        <%- include ('./partials/navbar.ejs') %>
        <div class="container py-5">
            <h1 class="mt-5">Deck Database</h1>
            <p>Search the database by Name or Description.</p>
            <ul>
                <% for (let i = 0; i < decks.length; i++) { %>
                <li>
                    <a href="/new_deck">Create a new deck</a>
                </li>
                <% } %>
            </ul>
        </div>
    </body>
</html>